.card{

    background-color: #FEE674;
    width: 229px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    padding-top: 20px;
    justify-content: flex-start;

    border-color: black;
  border-width: 2px;
  border-style: solid;

    &__cards{
        display: flex;
        width: 70%;
        justify-content: space-evenly;
    }

    &__user{
        background: #FF7246;
        width: 120px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        color: black;

        border-color: black;
  border-width: 2px;
  border-style: solid;
        
        

    }

    &__text{
        padding-bottom: 10px;
    }

}