@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.landingpage{
    display: flex;
    flex-direction: column;
    background-color: #FFE4BB;
    padding: 0px 20px;
    width: 20%;
    height: 370px;
    justify-content: space-around;
    border-radius: 22px 22px 22px 22px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;


    &__background{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../images/institucion.png");

        &--credentials{
            width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../images/backgorund_dark.jpg");

        }
    }

    &__logo{
        padding: 0;
        width: 30%;   
     }

    &__btn{
        
        display: flex;
        justify-content: space-around;
        width: 48%;

        
       
        &--send{
            background: none;
            border: 0;
            width: 100%;
            height: 60px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url('../images/iniciar_btn.png');
            
        }

        &--send:hover{
            background-image: url('../images/iniciar_orange_btn.png');

        }

    }

    &__img{
        width: 100%;
        height: 60px;
        background-image: url("../images/iniciar_title.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

   
}

